<!-- Heading Row -->
<div class="row my-4">
    <div class="col-lg-8">
        <img class="img-fluid rounded" src="{{data.category.meta.image}}" alt="{{data.category.name}}">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <h1>{{data.category.name}}</h1>
        <p>{{data.category.description}}</p>
    </div>
    <!-- /.col-md-4 -->
</div>