<div class="card my-4">
    <h5 class="card-header">Chuyên mục</h5>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between flex-column">
            {{#each data.menu}}
            <a class="p-2 text-muted" href="./{{../data.category.slug}}/{{this.slug}}">{{this.name}}</a>
            {{/each}}
        </nav>
    </div>
</div>