 {{#each data.all}}
<div class="row">
    <div class="col-md-5">
        <a href="{{this.link}}">
            <img class="img-fluid rounded  img-thumbnail" src="{{this.meta.image}}" onerror="this.src='/public/img/img-404.png';" alt="{{this.name}}">
        </a>
    </div>
    <div class="col-md-7">
        <h3>{{this.name}}</h3>
        <p>{{this.meta.description}}</p>
        <a class="btn btn-primary" href="./{{../data.category.slug}}/{{this.slug}}">Xem</a>
    </div>
</div>
<!-- /.row -->
<hr> {{else}}
<div class="row">
    <div class="col-lg-12">
        {{> content404}}
    </div>
</div>
{{/each}}

{{#mIf data.pagingMax "==" 0}}
<!-- Pagination -->
<ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="?page=0" aria-label="Previous">
            <span aria-hidden="true">&laquo; Về đầu</span>
            <span class="sr-only">Về đầu</span>
        </a>
    </li>
    {{#mIf data.pagingMax '>' 1}}
            {{#mIf data.paging ">" 10 }}
            <li class="page-item ">
                <a class="page-link" href="?page={{#sub data.paging 10}}{{/sub}}">...</a>
            </li>
            {{/mIf}}
             {{#mIf data.paging ">" 0 }}
            <li class="page-item ">
                <a class="page-link" href="?page={{#sub data.paging 1}}{{/sub}}">{{#sub data.paging 1}}{{/sub}}</a>
            </li>
            {{/mIf}}

            <li class="page-item active">
                <a class="page-link " href="#">{{ data.paging }}</a>
            </li>
            {{#mIf data.paging "<" data.pagingMax }}
            <li class="page-item">
                <a class="page-link" href="?page={{#add data.paging 1}}{{/add}}">{{#add data.paging 1}}{{/add}}</a>
            </li>
            {{#addIf data.paging 10}}
                {{#mIf this "<" ../data.pagingMax }}
                    <li class="page-item">
                        <a class="page-link" href="?page={{#add ../data.paging 10}}{{/add}}">...</a>
                    </li>
                {{!-- {{/mIf}}
                {{#mIf this "<" data.pagingMax }} --}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{../data.pagingMax}}">{{../data.pagingMax}}</a>
                    </li>
                {{/mIf}}
            {{/addIf}}

            {{/mIf}}
    {{/mIf}} 
    {{#mIf data.pagingMax "==" 0}} 
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
    </ul>
    {{/mIf}}
    <li class="page-item">
        <a class="page-link" href="?page={{data.pagingMax}}" aria-label="Next">
            <span aria-hidden="true">Tới cuối &raquo;</span>
            <span class="sr-only">Tới cuối</span>
        </a>
    </li>
</ul>
{{/mIf}}