{{> topbar}}
<!-- Page Content -->
<div class="container">
    {{> category/category-head}}
    {{> breadcum}}
    <div class="row">
         {{#mIf data.menu.length ">" 0}}
        <div class="col">
            {{> category/category-child}}
        </div>
        {{/mIf}}
        <!-- Post Content Column -->
        {{#mIf data.menu.length ">" 0}} 
        <div class="col-lg-6"> 
             {{> category/category-body}}
        </div>
        {{/mIf}}
        {{#mIf data.menu.length "==" 0}}
         <div class="col-lg-9"> 
             {{> category/category-body}}
        </div>
        {{/mIf}}
           
        <!-- Sidebar Widgets Column -->
        <div class="col">
            {{> post/post-provider}} 
            {{> post/post-hot}} 
            {{> post/post-social}}
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{{> footerbar}}