{{> topbar}}
<!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-9">
          {{> breadcum}}
          {{> post/post-head}}
          <hr>
          {{> post/post-content}}
          {{> post/post-ref}}
          {{> post/post-share}}
          <hr>
          {{> post/post-tag}}
          </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">
          {{> post/post-provider}}
          {{> post/post-recommend}}
          {{> post/post-hot}}
          {{> post/post-category}}
          {{> post/post-social}}
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->