<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="alternate" href="{{head.url}}" hreflang="vi-vn">
    <link rel="alternate" href="{{head.url}}" hreflang="vi">
    <link rel="alternate" href="{{head.url}}" hreflang="en-us">
    <meta name="description" content="{{head.desc}}">
    <meta name="author" content="{{head.author}}">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{{head.ogTitle}}}">
    <meta property="og:description" content="{{{head.ofDesc}}}">
    <meta property="og:url" content="{{head.ogUrl}}">
    <meta property="og:image" content="{{head.ogImg}}" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link href="/public/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/public/css/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">

    {{!-- {{{block "pageStyles"}}} --}}
  </head>
  <body>
    {{{body}}}
     <!-- Bootstrap core JavaScript -->
    <script src="/public/libs/jquery/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>    
    <script src="/public/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/js/js.js"></script>
  </body>
</html>