<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    {{#each data.parents as | mdata mIndex|}}
      <li class="breadcrumb-item">
      <a href="{{#each ../data.parents as | mcdata mcIndex|}}{{#mIf mcIndex "<" mIndex}}/{{mcdata.slug}}{{/mIf}}{{/each}}/{{mdata.slug}}">{{mdata.name}}</a>
      </li>
    {{/each}}
  </ol>
</nav>