  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Hiện tại chưa có nội dung hoặc không tìm thấy</h4>
      <p class="card-text">Quý đọc giả vui lòng trở về <a href="/">trang chủ</a> hoặc <a href="./">trở về</a> trang trước đó</p>
    </div>
  </div>