<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">ERP Pharmacy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/thong-bao">Thông báo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nha-thuoc">Nhà thuốc</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/san-pham">Sản phẩm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/doc">Đọc</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/huong-dan-su-dung">Hướng dẫn sử dụng</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    