<!-- Categories Widget -->
<div class="card my-4">
    <h5 class="card-header">Dịch vụ của chúng tôi</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#">Phần mềm quản lý nhà thuốc</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#">Ứng dụng hổ trợ quản lý nhà thuốc</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#">Ứng dụng Telemedicine cho bệnh nhân</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>