<div class="card">
    <div class="card-body">
        <p>Nếu bạn thấy thông tin thú vị hoặc bổ ích hãy chia sẻ cho bạn bè bạn cùng biết nhé</p>
        <div class="row">
            <div class="col-md-6 text-warning">
                <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label for="star5" title="Meh">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label for="star4" title="Kinda bad">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label for="star3" title="Kinda bad">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label for="star2" title="Sucks big tim">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label for="star1" title="Sucks big time">1 star</label>
                </div>
            </div>
            <div class="col-md-6">
                <a href="#" class="btn azm-social azm-btn azm-border-bottom azm-facebook"><i class="fa fa-facebook"></i> Log in with Facebook</a>

            </div>
        </div>


    </div>
</div>