<!-- Categories Widget -->
<div class="card my-4">
    <h5 class="card-header">Quan tâm nhiều nhất</h5>
    <div class="card-body">
        {{#each data.recommend}}
        <div class="row">
            <div class="col-lg-12">
                <img src="{{this.meta.image}}" onerror="this.src='/public/img/img-404.png';" class="img-responsive img-thumbnail img-thumbnail-custom" alt="{{this.meta.title}}">
                <a href="./{{this.slug}}">{{this.meta.title}}</a>
            </div>
        </div>
        <br>
        {{else}}
        <div class="row">
            <div class="col-lg-12">
                <a href="/">Về trang chủ</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>