<!-- Title -->
<h1 class="mt-4">{{data.post.name}}</h1>
<!-- Date/Time -->
<p>{{#formatTimeOption data.post.createdAt 'HH:mm [ngày] DD/MM/YYYY'}}{{/formatTimeOption}}</p>

<hr>
<p class="lead">{{data.post.content.brief}}</p>
<!-- Preview Image -->
<img class="img-fluid rounded" src="{{data.post.meta.image}}" alt="{{data.post.meta.title}}">